.container { /*flex container*/
  width: 250px;
  height: 200px;
  background-color: royalblue;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch; /*교차축(수직)의 여러줄 정렬방법 : stretch, flex-start, flex-end, center, space-between, space-around */
}

.container .item { /*flex items*/
  width: 100px;
  height: 100px;
  border: 3px dashed red;
  background-color: orange;
}
