$url: "../images";

body {
  height: 100vh; /*뷰포트의 전체 100%를 사용하겠다는 뜻*/
  background-image: url("#{$url}/bg.jpg");
  background-size: cover; /*화면을 250, 300%..처럼 확대하면 스크롤이 생기는데 배경이미지가 반복되는걸 볼 수 있다.*/
  background-repeat: no-repeat; /*배경이미지의 반복은 없으나, 밑에 흰영역이 보인다.*/
  background-attachment: fixed; /*스크롤 내려도 배경이미지는 고정돼있기때문에 스크롤과 함께 움직일 염려가 없다.*/
}

.container {
  padding: 50px 0;
  .heroes {
    display: flex; /*자식 hero 들이 수평정렬 되도록 하는 속성*/
    flex-wrap: wrap; /*수평요소된 찌그러진 요소들이 줄바꿈 가능 하도록 하는 속성*/
    justify-content: center; /* 수평축에서 가운데 정렬시킴 */
    max-width: 700px; /*그냥 width로 설정할 경우, 브라우저 수평축이 축소되면 hero 요소들도 잘림 현상이 발생하기에 max-width로 설정*/
    margin: 0 auto; /* top/bottom은 0, left/right는 auto로 지정하면 수평축 기준으로 가운데 정렬된다. */
    padding: 40px 20px; /*내부여백. top/bottom=40px, left/right=20px*/
    .hero {
      width: 80px;
      height: 84px;
      margin: 4px;
      border: 3px solid #fff;
      border-radius: 10px; /* border-radius : 경계선의 둥근 정도 */
      box-sizing: border-box; /* border 가 들어간 만큼 box 사이즈가 더 커지지 않게. 즉, border를 포함해서 box 사이즈가 결정됨 */
      background-color: #555;
      overflow: hidden; /* 자식요소인 .image의 바깥으로 흘러넘치는 부분들을 hidden 숨기겠다는 뜻 */
      transform: skewX(-14deg); /* X축을 기준으로 -14도 기울임 */
      transition: 
        transform .1s, 
        background-color .6s; /* transform scale()은 .1s 로 전환, background-color배경색상 전환은 .6s로 좀더 천천히 전환됨 */
      &:hover {
        background-color: #ff9c00;
        transform: skewX(-14deg) scale(1.3);
        z-index: 1; /* 0이 기본값인데, 1로 설정함으로써 겹쳐서 쌓이는 순위가 올라감 */
      } 
      .image {
        width: 140%;
        height: 100%;
        background-position: center; /*캐릭터의 얼굴이 가운데로 보인다.*/
        background-repeat: no-repeat; /*캐릭터의 왼쪽에 반복돼 보이던게 사라진다.*/
        background-size: 90px;
        transform: skewX(14deg) translateX(-16px); /* translateX()로 인해 이미지를 x축 기준으로 왼쪽으로 당겨와서 왼쪽의 여백을 줄인다. */
      } 
    }
  }
}

.hero:nth-child(1) .image { background-image: url("../images/hero1.png"); }
.hero:nth-child(2) .image { background-image: url("../images/hero2.png"); }
.hero:nth-child(3) .image { background-image: url("../images/hero3.png"); }
.hero:nth-child(4) .image { background-image: url("../images/hero4.png"); }
.hero:nth-child(5) .image { background-image: url("../images/hero5.png"); }
.hero:nth-child(6) .image { background-image: url("../images/hero6.png"); }
.hero:nth-child(7) .image { background-image: url("../images/hero7.png"); }
.hero:nth-child(8) .image { background-image: url("../images/hero8.png"); }
.hero:nth-child(9) .image { background-image: url("../images/hero9.png"); }
.hero:nth-child(10) .image { background-image: url("../images/hero10.png"); }

.hero:nth-child(11) .image { background-image: url("../images/hero11.png"); }
.hero:nth-child(12) .image { background-image: url("../images/hero12.png"); }
.hero:nth-child(13) .image { background-image: url("../images/hero13.png"); }
.hero:nth-child(14) .image { background-image: url("../images/hero14.png"); }
.hero:nth-child(15) .image { background-image: url("../images/hero15.png"); }
.hero:nth-child(16) .image { background-image: url("../images/hero16.png"); }
.hero:nth-child(17) .image { background-image: url("../images/hero17.png"); }
.hero:nth-child(18) .image { background-image: url("../images/hero18.png"); }
.hero:nth-child(19) .image { background-image: url("../images/hero19.png"); }
.hero:nth-child(20) .image { background-image: url("../images/hero20.png"); }

.hero:nth-child(21) .image { background-image: url("../images/hero21.png"); }
.hero:nth-child(22) .image { background-image: url("../images/hero22.png"); }
.hero:nth-child(23) .image { background-image: url("../images/hero23.png"); }
.hero:nth-child(24) .image { background-image: url("../images/hero24.png"); }
.hero:nth-child(25) .image { background-image: url("../images/hero25.png"); }
.hero:nth-child(26) .image { background-image: url("../images/hero26.png"); }
.hero:nth-child(27) .image { background-image: url("../images/hero27.png"); }
.hero:nth-child(28) .image { background-image: url("../images/hero28.png"); }
.hero:nth-child(29) .image { background-image: url("../images/hero29.png"); }
.hero:nth-child(30) .image { background-image: url("../images/hero30.png"); }

.hero:nth-child(31) .image { background-image: url("../images/hero31.png"); }
.hero:nth-child(32) .image { background-image: url("../images/hero32.png"); }

.container .logo {
  max-width: 300px;
  margin: 0 auto; /* left/right를 auto 로 지정하면 수평축기준으로 가운데 정렬 된다.*/  /*display: flex; 와 같은 효과 */
  padding: 0 20px; /* logo 주변에 padding을 좌/우로 넣어서 브라우저가 줄어들어도 좌우 여백 존재하도록 한다. */
}

.container .logo img {
  width: 100%; /*부모요소인 max-width 300px 까지만 적용한다는 뜻 */
}