body {
  padding: 100px;
}

.container {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  perspective: 250px; /*부모 속성 perspective */
}

.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(180deg);
  backface-visibility: hidden; /* visible(뒤집어진 요소가 보인다) , hidden(뒤집어진 요소가 보이지 않는다) */
}
